
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.lyx~
**/*.lyx#

thesis.pdf
thesis.blg

thesis.toc
thesis.lot
thesis.lof

thesis.ps
thesis.out
thesis.dvi
thesis.bbl
thesis.synctex.gz

draft.pdf
draft.blg

draft.toc
draft.lot
draft.lof

draft.ps
draft.out
draft.dvi
draft.bbl
draft.synctex.gz

abstract.pdf
abstract.blg
abstract.toc
abstract.lot
abstract.lof
abstract.ps
abstract.out
abstract.dvi
abstract.bbl
abstract.synctex.gz



**/*.agda~
**/*.agdai
**/#*.agda#
thesis-preferred-format.bbl
thesis-preferred-format.blg
thesis-preferred-format.lof
thesis-preferred-format.pdf
thesis-preferred-format.tex
thesis-preferred-format.toc
